$animationTime: 600;

.react-router-transition-animation{

  height: 100%;

  > *:nth-child(1) {
    position: absolute;
    left: -100%;
    top: 0px;
    width: 100%;
  }

  > *:nth-child(3) {
    position: absolute;
    right: -100%;
    top: 0px;
    width: 100%;
  }

}

.react-router-transition-forward {
  animation: react-router-transition-forward #{$animationTime}ms ;
  pointer-events: none;
}

.react-router-transition-back {
  animation: react-router-transition-back #{$animationTime}ms;
  pointer-events: none;
}

@keyframes react-router-transition-forward {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes react-router-transition-back {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

